.inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0 40px 0;
}

.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	width: 350px;
	padding: 5px;
	border-radius: 5px;
	gap: 5px;
	transition: 0.3s;
}

input {
	width: 100%;
	padding: 3px;
	border: none;
	background-color: transparent;
	outline: none;
	font-size: 18px;
	letter-spacing: 2px;
	color: #000000;
}
